@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    display:flex;
    align-items: center;
    flex-direction: column;
}
button{
    border: 3px solid black;
    background-color: white;
    color: black;
    padding: 2vh;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    border: 3px solid black;
}
*{
    font-family: 'Open Sans', monospace;
}